.steps2{
    height: 60px;
    width:60px;
    padding: 15px;
}
.walked{
    font-size: 13px;
    margin: -5px;
    text-align: center;
}
.under{
    font-size: 13px;
    margin:-1px;
}
.steps{
    display: flex;
    flex-direction: row;
    margin-left: 55px;
}
.changer{
    text-align: center;
}



.section{
    padding: 8px;
}