.bell{
    transform : scale(0.75);
    width:60px;
    height: 60px;
    border: 0px;
    background-color: lightgreen;
    border-radius: 6px;
}
.User{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 10px;   
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
}

.User img{
    height: 45px;
    width: 45px;
}
.user-email{
    width: 300px;
    margin-left: 7px;
}

.image{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}