.firstRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.columnWise{
  display: flex;
  flex-direction: row;
  padding-right: 10%;
}

.image2{
  transform:scale(0.5);
}

.image{
  transform:scale(0.7);
}